/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/** SLEEK & STRIPED (BLUE) by Ryouta#276513 **/
/* FONT IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Quattrocento&family=Telex&display=swap");
/* VARIABLES */
/** LAYOUT **/
body {
  background: -o-repeating-linear-gradient(45deg, #d1a7a7, #d1a7a7 9.5px, #fcf7f5 9.5px, #fcf7f5 47.5px) !important;
  background: repeating-linear-gradient(45deg, #d1a7a7, #d1a7a7 9.5px, #fcf7f5 9.5px, #fcf7f5 47.5px) !important;
  color: #4f2929;
  font-family: "Telex", sans-serif;
}

/* TEXT SELECTION */
::-moz-selection {
  background: #a35555;
  color: #fcf4f4;
}
::selection {
  background: #a35555;
  color: #fcf4f4;
}

::-moz-selection {
  background: #a35555;
  color: #fcf4f4;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #c89696;
}

::-webkit-scrollbar-thumb {
  background-color: #a35555;
  border-radius: 3px;
}

* {
  scrollbar-color: #a35555 #c89696;
  scrollbar-width: thin;
}

/** MAIN CONTENT **/
/* Welcome back, [username] */
.topbar {
  background-color: #924c4c;
  border: none;
  border-top: none;
  color: #fcf4f4;
}
.topbar .welcomeback > a, .topbar .toplinks > li > a {
  color: #c89696 !important;
}
.topbar .welcomeback > a:hover, .topbar .toplinks > li > a:hover {
  color: #d1a7a7 !important;
}

/* Top navigation bar */
.navbar {
  background-color: #a35555;
  border: 0;
  min-height: 0;
  /* LOGO REPLACER */
  /* .navbar-brand>img {
      content: url('IMAGE URL HERE');
  } */
  /* Mobile navigation toggle button */
  /* Mobile navigation divider */
}
.navbar li {
  background-color: inherit;
}
.navbar li a {
  color: #603232 !important;
  font-family: "Quattrocento", serif;
  -webkit-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}
.navbar li a:hover {
  background-color: #713b3b !important;
  color: #b77474 !important;
}
.navbar-toggle {
  border-color: #713b3b !important;
}
.navbar-toggle:hover, .navbar-toggle:focus {
  background-color: #713b3b !important;
}
.navbar-collapse {
  border-color: #713b3b;
}

/* RIGHT COLUMN (and overall container) */
.main {
  background-color: #eacaba;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* LEFT COLUMN */
.col-md-9 {
  background-color: #f0d9ce;
}

/* HEADINGS */
h1 {
  color: #a35555;
  font-family: "Comfortaa", cursive;
  font-size: 4rem;
  text-align: center;
}

h2 {
  color: #a35555;
  font-family: "Comfortaa", cursive;
}

h3 {
  color: #a35555 !important;
  font-family: "Quattrocento", serif;
}

h4 {
  color: #a35555 !important;
  font-family: "Quattrocento", serif;
}

/* LINKS */
a, a:link, a:visited {
  color: #a35555 !important;
}
a:hover, a:link:hover, a:visited:hover {
  color: #ae6464 !important;
}

/* BREADCRUMB */
.breadcrumb {
  background-color: #c89696;
  /* "Den" in Home / Den */
}
.breadcrumb .active {
  color: #603232;
}

/* ALERTS */
.alert.alert-success {
  background-color: #879861;
  border: 1px solid #7f8f5b;
  color: #fcf4f4;
}
.alert.alert-success a {
  color: #d9dfcd !important;
  font-weight: bold;
}
.alert.alert-warning {
  background-color: #c59156;
  border: 1px solid #c18a4b;
  color: #fcf4f4;
}
.alert.alert-warning a {
  color: #f3e7db !important;
  font-weight: bold;
}
.alert.alert-danger {
  background-color: #c94054;
  border: 1px solid #c3374b;
  color: #fcf4f4;
}
.alert.alert-danger a {
  color: #f0cbd1 !important;
  font-weight: bold;
}

/* INPUT BUTTONS */
input[type=submit], input[name=togglechat], button[type=submit], #btnChatSend {
  background: #bf8585;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #4f2929;
  text-shadow: none;
  -webkit-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}
input[type=submit]:hover, input[name=togglechat]:hover, button[type=submit]:hover, #btnChatSend:hover {
  background: #814444;
  border: 0;
  color: #c89696;
  text-shadow: none;
}

/* SELECT DROPDOWNS */
select {
  background-color: #d89c80;
  border: 0;
  color: #4f2929;
}
select option {
  color: #4f2929;
}

input[type=text], textarea {
  background-color: #d89c80;
  border: 0;
  color: #4f2929;
}

/* When typing in textbox */
input:focus-visible, textarea:focus-visible {
  outline: 1px solid #4f2929;
}

/** RIGHT COLUMN CONTENT **/
/* ENERGY BARS, ACHIEVEMENTS, & BOOKMARKS */
.panel {
  background-color: #f6e8e2 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 0 !important;
  color: #4f2929 !important;
}

/* STAT BARS */
.progress {
  background-color: #fcf7f5;
}
.progress .progress-bar {
  /* IMPRESSION */
  background-color: #569b98;
}
.progress .progress-bar.progress-bar-success {
  background-color: #879861;
}
.progress .progress-bar.progress-bar-warning {
  background-color: #c59156;
}
.progress .progress-bar.progress-bar-danger {
  background-color: #c94054;
}
.progress div {
  color: #4f2929;
}

/* CHATBOX */
.nolayout body {
  background: #eacaba !important;
}

.s-chat-message {
  /* Pinned message */
  /* Moderator message */
  /* Message timestamps */
  /* Giveaway channel - claim list button on messages */
  /* Selected message */
}
.s-chat-message:nth-child(even) {
  background-color: #b77474;
  border: 0;
  border-left: 6px solid transparent;
}
.s-chat-message:nth-child(even) a:hover {
  color: #603232 !important;
}
.s-chat-message:nth-child(odd) {
  background-color: #fcf7f5;
  border: 0;
  border-left: 6px solid transparent;
}
.s-chat-message__pinned {
  background-color: #713b3b !important;
  color: #fcf4f4 !important;
}
.s-chat-message__pinned a {
  color: #b77474 !important;
}
.s-chat-message__mod {
  background-color: #879861 !important;
  border: 0;
  border-left: 6px solid transparent;
  color: #343b25;
}
.s-chat-message_timestamp {
  color: rgba(79, 41, 41, 0.65);
}
.s-chat-message_claim {
  background-color: #f0d9ce;
  border-bottom: 0;
  color: #4f2929;
}
.s-chat-message.hasContext {
  background-color: #924c4c !important;
  border-left-color: #a35555 !important;
  color: #fcf4f4;
}
.s-chat-message a {
  color: rgba(79, 41, 41, 0.8) !important;
}

/* When there's no pinned message */
#chatMessagePinned {
  background-color: #a35555;
  border-bottom-color: #713b3b;
  color: #fcf4f4;
}

/* Giveaway channel - claim list */
#modalClaimList {
  background-color: #a35555;
  border: 0;
  color: #fcf4f4;
}
#modalClaimList h3 {
  background-color: #924c4c;
  color: #fcf4f4 !important;
}
#modalClaimList a {
  color: #fcf4f4 !important;
}

#modalClaimList button.close {
  color: #fcf4f4;
}

/* Channel list */
#label_currentChannel, #fraChatChannelMenu {
  background-color: #d89c80 !important;
  border: 0 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}
#label_currentChannel .channelSwitcher, #fraChatChannelMenu .channelSwitcher {
  color: #4f2929 !important;
}
#label_currentChannel .channelSwitcher:hover, #fraChatChannelMenu .channelSwitcher:hover {
  background-color: #e4bba7 !important;
}
#label_currentChannel .channelSwitcher.active, #fraChatChannelMenu .channelSwitcher.active {
  background-color: #cc7e59 !important;
}

/* Chatbox buttons for settings, refresh, etc */
#fraChatSettings, #btnLoadNewMessages, .s-chat-message_menu {
  -webkit-filter: opacity(0.65);
          filter: opacity(0.65);
}
#fraChatSettings:hover, #btnLoadNewMessages:hover, .s-chat-message_menu:hover {
  -webkit-filter: opacity(0.85);
          filter: opacity(0.85);
}

#chatMessageContainer {
  border: 0;
}

/* Chatbox text input */
#txtChatInput {
  background-color: #d89c80;
  border: 0 !important;
  color: #4f2929;
}

/** PROFILE/LEFT COLUMN CONTENT **/
/* PRIDE / KING INFOBOX */
#about {
  background-color: #e7c2b1;
  border: 0;
  /* Box header */
  /* this just centers the king icon vertically next to the info */
  /* King icon */
  /* some mobile margins... */
  /* Info table */
  /* Box footer */
}
#about .top.center {
  background-color: #603232;
  border: 0;
  font-family: "Comfortaa", cursive;
  /* King link */
}
#about .top.center a {
  color: #bf8585 !important;
}
#about .top.center a:hover {
  color: #c89696 !important;
}
#about tr.right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /* i probably could've done this with :has() but whatever i wrote it with :not() and it works */
}
#about tr.right td:not(.right):not([width="3"]) {
  width: unset !important;
}
#about #lion_image div {
  border: 3px solid #bf8585;
  border-radius: 50%;
}
#about .inner-table {
  border-spacing: 1px 3px;
}
#about .inner-table.auto {
  /* Left side - Level:, Stats:, etc */
  /* Right side - the values */
}
#about .inner-table.auto .left {
  background-color: #814444;
  color: #dab7b7;
}
#about .inner-table.auto .right {
  background-color: #924c4c;
  color: #fcf4f4;
}
#about .inner-table.auto .right a {
  color: #d1a7a7 !important;
}
#about .inner-table.auto .right a:hover {
  color: #dab7b7 !important;
}
#about .bottom {
  background-color: #713b3b;
  /* "There are # lions with mutations in X's pride." */
}
#about .bottom a {
  color: #fcf4f4 !important;
  text-decoration: none;
}

/* PLAYER INFOBOX */
#player {
  background-color: #e7c2b1;
  border: 0 !important;
  border-collapse: separate;
  /* vertically centering player icon */
  /* Box header */
  /* Player username */
  /* Giftbox image */
  /* Player Icon */
}
#player tr.right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#player .top {
  background-color: #603232;
  /* Player ID # */
}
#player .top .floatright {
  color: #c89696;
}
#player div.center.xlarge {
  color: #924c4c;
}
#player .inner-table.auto {
  /* Joined:, Last Active: */
  /* Joined & LAst Active Date/Times */
}
#player .inner-table.auto .left {
  background-color: #814444;
  color: #dab7b7;
}
#player .inner-table.auto .right {
  background-color: #924c4c;
  color: #fcf4f4;
}
#player p.center.xlarge {
  color: #b77474;
  /* Links */
}
#player p.center.xlarge a {
  color: #a35555;
}
#player p.center.xlarge a:hover {
  color: #ae6464 !important;
}
#player .center.auto > img {
  border: 0;
}
#player .right img {
  border: 3px solid #bf8585;
  border-radius: 10%;
}
#player td.right {
  width: unset !important;
}
#player td.right_odd {
  background-color: rgba(163, 85, 85, 0.15) !important;
}

/* CAVES & MOUNDS */
.cave-grid, .mound-grid {
  background-color: #713b3b;
  border: 0;
  color: #e2c8c8;
  font-weight: normal;
}

/* IMAGE REPLACEMENTS */
/* a {
    &[href$="unsorted.php?id=USERID"] > img {
        content: url('IMAGE URL HERE') !important;
    }

    &[href$="lionoverview.php?id=USERID"] > img {
        content: url('IMAGE URL HERE') !important;
    }

    &[href$="CAVE ID HERE"] > img {
        content: url('IMAGE URL HERE') !important;
    }

    &[href$="unsorted-beetles.php?id=USERID"] > img {
        content: url('IMAGE URL HERE') !important;
    }

    &[href$="create-cave.php"] > img {
        content: url('IMAGE URL HERE') !important;
    }

    &[href$="create-mound.php"] > img {
        content: url('IMAGE URL HERE') !important;
    }
}

/* PREGNANT LIONESSES */
/* div.cave-grid > img, a[href$="nesting.php"] > img {
    content: url('https://puu.sh/EJV1D/dfefa228df.png') !important;
}

/* MOUNDS */
/* .mound-grid img {
    background: url('IMAGE URL HERE');
    width: 0;
    height: 0;
    padding-top: 80px;
    padding-right: 130px;
}

/* TRADITIONAL CAVE DISPLAY */
#pride {
  border-left: 1px solid #924c4c;
  border-right: 1px solid #924c4c;
  border-bottom: 1px solid #924c4c;
  /* LV / Stats / Name Row */
  /* Heat Countdown */
}
#pride th > a {
  color: #fcf4f4 !important;
}
#pride .left.b {
  background-color: #a35555;
  color: #e2c8c8;
}
#pride .right_odd {
  background-color: #e4bba7;
}
#pride .badge {
  background-color: #924c4c;
  color: #e2c8c8;
}
#pride .bottom {
  background-color: #713b3b;
}

/* SPARRING */
#sparring {
  border: 0;
}
#sparring tr > th {
  background-color: #713b3b;
}
#sparring tr {
  background-color: #924c4c;
  color: #e2c8c8;
}
#sparring .right_odd {
  background-color: #e4bba7;
  color: #4f2929;
}

/* FEED ALL, PLAY ALL */
.feature {
  background-color: #924c4c !important;
  color: #e2c8c8;
  border: 0 !important;
  border-radius: 3px !important;
}
.feature h3 {
  color: #fcf4f4 !important;
}

/* DYNASTY ETC BUTTONS */
.dynastylist {
  /* img {
      content: url('IMAGE URL HERE') !important;
  } */
}
.dynastylist .left {
  background-color: #713b3b;
  border: 0;
}
.dynastylist .left h3 {
  color: #e2c8c8 !important;
}

/* THINNER BUTTONS */
.col-md-3 .left {
  background-color: #713b3b;
  border: 0;
  color: #e2c8c8;
}

/* ATTACK THIS LION */
#attack {
  background-color: #e7c2b1;
  border: 0;
}
#attack th {
  background-color: #603232;
  border: 0;
}
#attack .bottom {
  background-color: #713b3b;
}
#attack .bottom a {
  color: #fcf4f4 !important;
  text-decoration: none;
}

/* ALLIES & CLANS */
#allies, #clans {
  background-color: #e7c2b1;
  border: 0;
}
#allies .top, #clans .top {
  background-color: #603232;
  border: 0;
}
#allies .left, #clans .left {
  background-color: #814444;
  height: 3px !important;
}
#allies .bottom, #clans .bottom {
  background-color: #713b3b;
}
#allies .bottom a, #clans .bottom a {
  color: #fcf4f4 !important;
  text-decoration: none;
}

/* YOUR DETAILS */
.table[width="500"] {
  background-color: #e7c2b1;
  border: 0;
}
.table[width="500"] tbody > tr > th, .table[width="500"] td.top {
  background-color: #603232 !important;
  border: 0 !important;
  color: #fcf4f4;
}

#editdetailspanel tr:not(:last-child, :nth-child(7)) > .left.b {
  border-bottom: 1px solid #e7c2b1;
}
#editdetailspanel tr .left.b {
  background-color: #814444;
  color: #dab7b7;
}
#editdetailspanel tr .right {
  background-color: #e7c2b1;
}
#editdetailspanel a {
  color: #a35555;
}
#editdetailspanel .bottom {
  background-color: #924c4c;
}

/* ACCOUNT OPTIONS */
#accountoptionspanel .left {
  background-color: #814444;
}
#accountoptionspanel .left a {
  background-color: #814444;
  color: #dab7b7 !important;
}
#accountoptionspanel .right {
  background-color: #e7c2b1;
}
#accountoptionspanel .item {
  background-color: #d89c80;
  border: 0;
}
#accountoptionspanel .item-header {
  background-color: #814444;
  color: #dab7b7;
}
#accountoptionspanel .bottom {
  background-color: #924c4c;
}

.slider {
  background-color: #f0d9ce !important;
}
.slider:before {
  background-color: #fcf4f4 !important;
}

input:checked + .slider {
  background-color: #879861 !important;
}
input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #879861 !important;
          box-shadow: 0 0 1px #879861 !important;
}

/* CHANGE PASSWORD */
#changepasswordpanel .left.b {
  background-color: #814444;
  color: #dab7b7;
}
#changepasswordpanel .right {
  background-color: #e7c2b1;
}
#changepasswordpanel .right input[type=password] {
  background-color: #d89c80;
  border: 0;
  color: #4f2929;
}
#changepasswordpanel .bottom {
  background-color: #924c4c;
}

/* FOOTER */
.footer {
  color: #4f2929;
  text-shadow: none;
}
.footer a {
  border-bottom: 0 !important;
  text-shadow: none;
}

/** DENS **/
/* Top lion/cave image */
.featured-lion {
  background-color: #a35555;
  color: #fcf4f4;
  margin-bottom: 2rem;
  /* Featured lion text */
}
.featured-lion div img {
  max-width: 100%;
  height: 500px !important;
}
.featured-lion .center {
  font-family: "Quattrocento", serif;
  padding-top: 0.75rem;
}
.featured-lion .center a {
  color: #4f2929 !important;
}

/* Cave Stats & Cave Settings */
.table.auto {
  border: 0;
  /* Box header */
}
.table.auto td.top, .table.auto th[colspan="2"] {
  background-color: #713b3b;
  color: #fcf4f4;
}
.table.auto td {
  background-color: #e7c2b1;
}
.table.auto td.left {
  background-color: #814444;
  border-bottom: 1px solid #e7c2b1;
  color: #dab7b7;
}

/** BEETLE MOUNDS **/
/* Top links bar */
.sub_menu {
  background-color: #713b3b;
  border-radius: 10px;
}
.sub_menu a {
  color: #a35555 !important;
}
.sub_menu_item_selected {
  background-color: #924c4c;
}

/* Beetle list */
#beetles {
  border: 1px solid #713b3b;
}
#beetles td.left {
  background-color: #814444;
  color: #dab7b7;
}
#beetles td.right_odd {
  background-color: #e4bba7;
}

/** SHOPS **/
/* "Owned by (username)" */
.left[style$="margin-top: 10px;"] {
  background-color: #c89696;
}

/* Headers */
.table th {
  background-color: #713b3b;
  color: #fcf4f4;
}

/* Items */
.item {
  background-color: rgba(252, 244, 244, 0.35);
  border-color: #a35555;
}
.item-header, .item-footer {
  background-color: #924c4c;
  color: #fcf4f4;
}

/** BOXES **/
.box {
  background-color: #f6e8e2;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 2.5rem;
}
.box-header {
  background-color: #a35555;
  border-radius: 3px 3px 0 0;
  color: #fcf4f4;
  font-family: "Quattrocento", serif;
  font-size: 1.5em;
}
.box-content {
  padding: 0.75rem;
  max-height: 300px;
  overflow: auto;
}
.box-content-wrapper {
  padding: 0.75rem;
}
@media (min-width: 992px) {
  .box-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.box-row .col-md-4, .box-row .col-md-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* CREDIT */
.container.main::before {
  content: "CSS by #276513";
  background-color: #a35555;
  color: #fcf4f4;
  display: block;
  font-size: 1.25rem;
  padding: 0.5rem;
  position: fixed;
  right: 0.75rem;
  bottom: 0.75rem;
  z-index: 5;
}